@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cedarville+Cursive&family=Coming+Soon&family=Dancing+Script&family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-image: url(imagenes/aqua.jpg);
    font-family: "Coming Soon", cursive;
}
#mapa{
    margin: auto;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
h1{
    text-align: center;
}