@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cedarville+Cursive&family=Dancing+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cedarville+Cursive&family=Dancing+Script&family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cedarville+Cursive&family=Coming+Soon&family=Dancing+Script&family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-image:url(imagenes/fondo\ onda.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
h1{
    font-family: "Coming Soon", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    margin-top: 200px;  
}
.sesenta {
    animation: movimiento 2s infinite alternate; /* Animación de movimiento */
}

@keyframes movimiento {
    0% {
        transform: translateY(0); /* Posición inicial */
    }
    100% {
        transform: translateY(20px); /* Posición final */
    }
}
.horario{
    background-image: url(imagenes/pastel.avif);
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen */
    height: 300px; /* Establece una altura para el contenedor */
    position: relative; /* Asegura que los elementos secundarios respeten este contenedor */
    margin-top: 200px;
    height: 250px;
    display: grid;
    min-width: 250px;
}
.fecha{
    margin-top: 100px;
    display: grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    height: 200px;
    min-width: 200px;
}
h2{
    font-family: "Coming Soon", cursive;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
    min-width: 250px;
}
#contador{
    text-align: center;
    font-family:"Roboto", sans-serif;
    font-size: 35px;
    color: rgb(180, 132, 158);
    width: 50%;
    background: linear-gradient(rgb(251, 244, 246),rgb(244, 218, 226),rgb(255, 217, 236));
    display: grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    place-items: center; /* Centrado horizontal y vertical */
    height: 40vh; 
    border-radius: 200px;
    border: 1px solid transparent; /* Añadir un borde inicial */
    transition: border-color 0.3s ease; /* Añadir transición para animar el cambio de borde */
    box-shadow: 0px 0px 10px 0px rgba(136, 133, 133, 0.75);
    margin: auto;
    animation: pulse 2s infinite alternate; /* Aplicamos la animación llamada "pulse" */
    min-width: 300px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px 0 rgba(138, 114, 127, 0.5); /* Estado inicial */
  }
  100% {
    box-shadow: 0 0 20px 0 rgba(12, 10, 11, 0.8); /* Estado final */
  }
}
#map{
    margin: auto;
    align-items: center;
    text-align: center;
}
button{
  background-color: black;
  border-radius: 10px;
  color: white;
  font-size: 27px;
}





    


